html{
    background-color: black;
}
#two{
    border: 5px solid white;
     width: 100%;
    
}
#one{
width: 50%;
margin-left: 25%;
margin-top: 50px;

    font-family: 'Tilt Prism', cursive;
    text-align: center;
    color: white;
}
h1{
font-size: 3rem;
    text-transform: uppercase;
}
h2{
    font-size: 3rem;
   text-transform: uppercase;
    }
    